/* CSS for sub-section indexes */

.index-button {
  display: block; /* Make buttons take full width */
  width: 100%; 
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none !important;
  color: white !important;
  background-color: rgb(107, 107, 107);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.index-button:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: rgba(83, 122, 143, 0.5);
  transition: 0.3s ease-in-out;
}
