<!-- Shortcode for the K2P ion channel Markov Chain -->

<!-- Import Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Import the script (variables and functions) -->
<script defer
		language="javascript"
		type="text/javascript"
		src='{{ "js/K2P_markov_chain.js" | urlize | relURL }}'>
</script>

<!-- White box to contain the plot with inline styles -->
<div style="width: 737px;
			height: 280px;
			text-align: left;
			background-color: white;
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

	<canvas id="arrayPlot"
			width="650"
			height="200"
			style="margin: auto;">
	</canvas>

	<button id="generateButton"
			style="margin-top: 15px;"
			onclick="generateAndPlot('arrayPlot')">
		Generate Single Channel Current
	</button>
</div>
