<!-- Shortcode for the DateOperatorAUX MetaDataMaker (MDM) module -->

<!--
NOTE: MDM relies on every value-producing field having `class="metaValue"`, plus
`data-meta-group` and `data-meta-key` attributes (while `data-meta-unit` is
optional), as required by `getAllMetaValues()` logic for compiling the final
JSON object.
See 'DESIGN NOTE' in 'MDM_getValues.js'
-->

<!-- Access the JSON ('./data/TCPL.json') -->
<script>
    const tcpLab = {{ $.Site.Data.TCPL }};
</script>

<!-- Import the JS DateOperator-specific script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_date_operator.js" | urlize | relURL }}'>
</script>

<!-- Import the JS UI-Helpers (AUX) script, for the benefit of all -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_ui_helpers.js" | urlize | relURL }}'>
</script>

<!-- Date field as a calendar selector -->
<h2 class="mdmTitle">General</h2>
<div class="dateGrid">
    <h3 class="mdmTitle">Time</h3>
    <div class="dateRow stdMetaField">
        <label class="metaLabel" for="today_date">
            Date:
        </label>
        <input type="date"
               id="today_date"
               class="metaValue"
               data-meta-info="Date"
               data-meta-group="general"
               data-meta-key="date">
        <span id="date_format_hint" class="dateHint"></span>
    </div>
</div>

<!-- Operator field as a drop-down menu, with [+] and [-] buttons to add and
     remove operators, and the 'Guest' option for custom operator values -->
<div class="operatorPanel">
    <h3 class="mdmTitle">Operators</h3>
    <div class="operatorButtons stdMetaField">
        <div class="buttonGroup">
            <button class="smallButton"
                    type="button"
                    onclick="addOperatorRow()">
                [ + ]
            </button>
            <button class="smallButton"
                    type="button"
                    onclick="removeOperatorRow()">
                [ − ]
            </button>
        </div>
    </div>

    <!-- Nested <div> to accommodate multiple drop-down menus -->
    <div id="operatorFields" class="operatorGrid">
        <div class="operatorRow stdMetaField"> <!-- For a single dropdown -->
            <label class="metaLabel" for="dropdown_operator1">
                Operator 1:
            </label>
            <select id="dropdown_operator1"
                    onchange="toggleGuestOperator(this)"
                    class="metaValue hardField"
                    data-meta-info="Operator 1"
                    data-meta-group="general"
                    data-meta-key="operator_1">
            </select>
             <!-- Input field for a custom name -->
            <input type="text"
                   id="guest_operator1"
                   class="hidden hardField"
                   placeholder="Name Surname">
        </div>
    </div>
</div>
