<!-- Shortcode for the AcuteStimuli MetaDataMaker (MDM) module -->

<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_acute_stimuli.js" | urlize | relURL }}'>
</script>

<h2 class="mdmTitle">Time Events</h2>
<div class="stimulusPanel">
    <h3 class="mdmTitle">Stimulus Panel</h3>
    <div class="simulusButtons stdMetaField">
        <div class="buttonGroup">
            <button class="smallButton"
                    type="button"
                    onclick="addStimulusRow()">
                [ + ]
            </button>
            <button class="smallButton"
                    type="button"
                    onclick="removeStimulusRow()">
                [ − ]
            </button>
        </div>
    </div>

    <div id="stimulusFields" class="stimulusGrid">
        <div class="stimulusRow stdMetaField">
            <label class="metaLabel" for="stimulus_1">
                Stimulus 1:
            </label>
            <input type="text"
                   id="stimulus_1"
                   class="auxiliary standardizeUnits hardField"
                   placeholder="S1">
        </div>
    </div>
</div>
