<!-- Shortcode for the PatchClamp MetaDataMaker (MDM) field -->

<!-- Access the JSON ('./data/RecipeBook.json') -->
<script>
    const recipeBook = {{ $.Site.Data.RecipeBook }};
</script>

<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_patch_clamp.js" | urlize | relURL }}'>
</script>

<h2>Patch clamp</h2>
<h3>Saline Solutions</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="extracellular_solution">
        Extracellular:
    </label>
    <select id="extracellular_solution"
            class="metaValue hardField"
            data-meta-info="Extracellular Saline Solution"
            data-meta-group="patch_clamp"
            data-meta-key="extracellular_solution"
            data-meta-recipe-book="true"
            data-default="Tyrode_Standard">
    </select>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="intracellular_solution">
        Intracellular:
    </label>
    <select id="intracellular_solution"
            class="metaValue hardField"
            data-meta-info="Intracellular Saline Solution"
            data-meta-group="patch_clamp"
            data-meta-key="intracellular_solution"
            data-meta-recipe-book="true"
            data-default="SIKA_0_EGTA">
    </select>
</div>

<h3>Pipette</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="pipette_size">
        Pipette Size:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="pipette_size"
               class="metaValue withUnit hardField"
               data-meta-info="Pipette Size"
               data-meta-group="patch_clamp"
               data-meta-key="pipette_size"
               data-meta-unit="μm">
    </div>
</div>

<h3>Bath</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="pipette_resistance">
        Pipette Resistance:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="pipette_resistance"
               class="metaValue withUnit"
               data-meta-info="Pipette Resistance"
               data-meta-group="patch_clamp"
               data-meta-key="pipette_resistance"
               data-meta-unit="MΩ">
    </div>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="pipette_offset">
        Pipette Offset:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="pipette_offset"
               class="metaValue withUnit"
               data-meta-info="Pipette Offset"
               data-meta-group="patch_clamp"
               data-meta-key="pipette_offset"
               data-meta-unit="mV">
    </div>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="pipette_capacitance_comp">
        Pipette Capacitance Compensation:
    </label>
    <input type="checkbox"
           id="pipette_capacitance_comp"
           class="metaValue"
           data-meta-info="Pipette Capacitance Compensation"
           data-meta-group="patch_clamp"
           data-meta-key="pipette_capacitance_compensation">
</div>

<h3>Patch</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="seal_resistance">
        Seal Resistance:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="seal_resistance"
               class="metaValue withUnit"
               data-meta-info="Seal Resistance"
               data-meta-group="patch_clamp"
               data-meta-key="seal_resistance"
               data-meta-unit="GΩ">
    </div>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="configuration">
        Configuration:
    </label>
    <select id="configuration"
            class="metaValue shortText hardField"
            data-meta-info="Configuration"
            data-meta-group="patch_clamp"
            data-meta-key="configuration"
            onchange="toggleWholeCellFields()">
        <option value="whole-cell" selected>whole-cell</option>
        <option value="cell-attached">cell-attached</option>
    </select>
</div>

<h3>Cell</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="membrane_capacitance">
        Membrane Capacitance:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="membrane_capacitance"
               class="metaValue withUnit wholeCellOnly"
               data-meta-info="Membrane Capacitance"
               data-meta-group="patch_clamp"
               data-meta-key="membrane_capacitance"
               data-meta-unit="pF">
    </div>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="membrane_capacitance_comp">
        Membrane Capacitance Compensation:
    </label>
    <input type="checkbox"
           id="membrane_capacitance_comp"
           class="metaValue"
           data-meta-info="Membrane Capacitance Compensation"
           data-meta-group="patch_clamp"
           data-meta-key="membrane_capacitance_compensation">
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="access_resistance">
        Access Resistance:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="access_resistance"
               class="metaValue withUnit wholeCellOnly"
               data-meta-info="Access Resistance"
               data-meta-group="patch_clamp"
               data-meta-key="access_resistance"
               data-meta-unit="MΩ">
    </div>
</div>

<div class="stdMetaField">
    <label class="metaLabel" for="membrane_resting_potential">
        Membrane Resting Potential:
    </label>
    <div class="inputWithUnit">
        <input type="number"
               step="any"
               inputmode="decimal"
               id="membrane_resting_potential"
               class="metaValue withUnit wholeCellOnly"
               data-meta-info="Membrane Resting Potential"
               data-meta-group="patch_clamp"
               data-meta-key="membrane_resting_potential"
               data-meta-unit="mV">
    </div>
</div>

<h3>Protocol</h3>
<div class="stdMetaField">
    <label class="metaLabel" for="protocol_type">
        Type:
    </label>
    <select id="protocol_type"
            class="metaValue shortText hardField"
            data-meta-info="Protocol Type"
            data-meta-group="patch_clamp"
            data-meta-key="protocol_type">
        <option value="voltage-clamp" selected>voltage-clamp</option>
        <option value="current-clamp">current-clamp</option>
    </select>
</div>
