<!-- Shortcode for the "Make MetaData !" big button  -->

<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_get_values.js" | urlize | relURL }}'>
</script>

<div class="bigButtonGroup">
    <div class="bigButtonLine">
        <button class="bigButton"
                type="button"
                onclick="clearMetadataForm(false)">
            Soft Clear
        </button>

        <button class="bigButton"
                type="button"
                onclick="clearMetadataForm(true)">
            Clear All
        </button>
    </div>

    <button id="getMetadataButton"
            class="bigButton"
            type="button"
            onclick="downloadJsonData()">
        Make MetaData !
    </button>
</div>
