<!-- Shortcode for the ChangeEvents MetaDataMaker (MDM) module -->

<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_change_events.js" | urlize | relURL }}'>
</script>

<h3 class="mdmTitle">AxoScope Files Association</h3>
<!-- Full (gap-free) trace filename -->
<div class="axoPanel">
    <div class="axoButtons stdMetaField">
        <div class="buttonGroup">
            <button class="smallButton"
                    type="button"
                    onclick="document.getElementById('axoFile_picker').click()">
                Select File
            </button>
            <input type="file"
                   id="axoFile_picker"
                   style="display: none;"
                   onchange="setFileFromSelection(this.files[0])">
        </div>
    </div>

    <div id="axoFields" class="axoGrid">
        <div class="axoRow stdMetaField">
            <label class="metaLabel" for="full_trace_file">
                Full Trace File:
            </label>
            <input type="text"
                   id="full_trace_file"
                   class="metaValue"
                   data-meta-info="Full Trace File:"
                   data-meta-group="stimulus_changes"
                   data-meta-key="full_trace_file"
                   placeholder="filename.ext">
        </div>
    </div>
</div>

<!-- List of Stimulus Changes -->
<div class="changePanel">
    <div class="changeButtons stdMetaField">
        <div class="buttonGroup">
            <button class="smallButton"
                    type="button"
                    onclick="addChangeRow()">
                [ + ]
            </button>
            <button class="smallButton"
                    type="button"
                    onclick="removeChangeRow()">
                [ − ]
            </button>
        </div>
    </div>

    <!-- Nested <div> to accommodate multiple changeRow's -->
    <div id="changeFields" class="changeGrid stimulusEventFields">
        <div class="changeRow stdMetaField"> <!-- For a single changeRow -->
            <label class="metaLabel" for="time_change_1">
                Time:
            </label>
            <div class="inputWithUnit">
                <input type="number"
                       step="any"
                       inputmode="decimal"
                       id="time_change_1"
                       class="metaValue withUnit"
                       data-meta-info="Change Time 1"
                       data-meta-group="stimulus_changes"
                       data-meta-key="time_change_1"
                       data-meta-unit="s">
            </div>
            <div></div> <!-- spacer-column in 5-column grid -->
            <label class="metaLabel" for="name_change_1">
                Change to Stimulus:
            </label>
            <select id="name_change_1"
                    class="metaValue"
                    data-meta-info="New Stimulus 1"
                    data-meta-group="stimulus_changes"
                    data-meta-key="to_stimulus_1">
            </select>
        </div>
    </div>
</div>
