<!-- Shortcode for the DateOperator MetaDataMaker (MDM) field -->

<!--
NOTE: MDM relies on every value-producing field having `class="metaValue"`, plus
`data-meta-group` and `data-meta-key` attributes (while `data-meta-unit` is
optional), as required by `getAllMetaValues()` logic for compiling the final
JSON object.
See 'DESIGN NOTE' in 'MDM_getValues.js'
-->

<!-- Access the JSON ('./data/TCPL.json') -->
<script>
    const tcpLab = {{ $.Site.Data.TCPL }};
</script>
<!-- Import the JS DateOperator-specific script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_date_operator.js" | urlize | relURL }}'>
</script>
<!-- Import the JS UI-Helpers script, for the benefit of all other scripts -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/MDM_ui_helpers.js" | urlize | relURL }}'>
</script>

<!-- Date field as a calendar selector -->
<h2>General</h2>
<h3>Time</h3>
<div class="dateGrid">
    <div class="stdMetaField dateRow">
        <label class="metaLabel" for="today_date">
            Date:
        </label>
        <input type="date"
               id="today_date"
               class="metaValue"
               data-meta-info="Date"
               data-meta-group="general"
               data-meta-key="date">
        <span id="date_format_hint" class="dateHint"></span>
    </div>
</div>

<!-- Operator field as a drop-down menu, with [+] and [-] buttons to add and
     remove operators, and the 'Guest' option for custom operator values -->
<h3>Operator(s)</h3>
<div class="operatorPanel">
    <div class="stdMetaField operatorButtons">
        <button class="smallButton"
                type="button"
                onclick="addOp()">
            [ + ]
        </button>
        <button class="smallButton"
                type="button"
                onclick="removeOp()">
            [ − ]
        </button>
    </div>

    <!-- Nested <div> to accommodate multiple drop-down menus -->
    <div id="opFields" class="operatorGrid">
        <div class="stdMetaField operatorRow"> <!-- For a single Drop-down menu -->
            <label class="metaLabel" for="dropdown_operator1">
                Operator 1:
            </label>
            <select id="dropdown_operator1"
                    onchange="toggleCustomInput(this)"
                    class="metaValue hardField"
                    data-meta-info="Operator 1"
                    data-meta-group="general"
                    data-meta-key="operator_1">
            </select>
             <!-- Input field for a custom name -->
            <input type="text"
                   id="guest_operator1"
                   class="hidden hardField"
                   placeholder="Name Surname">
        </div>
    </div>
</div>
