<!--
Shortcode for the Recipe Selector
called from page "Recipe Book of Physiological Solutions"
-->

<!-- Access the JSON ('./data/RecipeBook.json') -->
<script>
    const recipeBook = {{ $.Site.Data.RecipeBook }};
</script>
<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/recipe-selector.js" | urlize | relURL }}'>
</script>

<!-- Recipe Selector and Final Volume fields as drop-down menus -->
<div id="controls">
    <div>
        <label for="recipe-select">Solution:</label>
        <select id="recipe-select">
            <option value="">-- Choose a Solution --</option>
        </select>
    </div>
    <div>
        <label for="volume-select">Final Volume:</label>
        <select id="volume-select">
            <option value="100">100 mL</option>
            <option value="250">250 mL</option>
            <option value="500" selected>500 mL</option>
            <option value="1000">1 L</option>
        </select>
    </div>
</div>
<!-- Recipe description and ingredient list -->
<div id="recipe-description"></div>
<div id="recipe-list"></div>
<!-- Clear All button and overall osmolarity -->
<div id="actions">
    <button id="clear-btn">Clear All</button>
    <div id="osmolarity-info">
        <div id="ideal-osmolarity">
            <span class="osmo-text" id="ideal-osmo-text"></span>
            <span class="osmo-number" id="ideal-osmo-number"></span>
        </div>
        <div id="real-osmolarity">
            <span class="osmo-text" id="real-osmo-text"></span>
            <span class="osmo-number" id="real-osmo-number"></span>
        </div>
    </div>
</div>
