<!-- Shortcode for the Recipe Selector CSS -->

<style>
    /* Arrange dropdown menus */
    #controls {
        display: flex;
        flex-wrap: wrap; /* Dropdowns wrap when space is limited (mobiles) */
        gap: 20px;
    }
    #controls div {
        display: flex;
        flex-direction: column; /* Stack labels above dropdown */
    }
    select {
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    #recipe-select {
        width: 250px;
    }
    #volume-select {
        width: 250px;
    }

    /* Make the description visually distinct */
    #recipe-description {
        display: none; /* Hidden by default */
        font-style: italic;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid #ddd;
        padding: 10px; /* Internal spacing */
        margin: 20px 0; /* Space above and below */
        border-radius: 5px; /* Slightly rounded corners */
    }


    /* Increase vertical spacing among items */
    .ingredient {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px 0; /* Internal spacing */
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    /* Overlay effect */
    .ingredient:hover {
        background-color: rgba(83, 122, 143, 0.2);
        border-radius: 5px;
        transition: 0.3s ease-in-out;
    }
    
    /* Set field spacing as relative proportions by 'flex' attribute */
    .ingredient-name {
        flex: 1;
        font-weight: bold;
        min-width: 100px;
    }
    .ingredient-concentration {
        flex: 1;
        font-style: oblique;
        text-align: right;
        min-width: 100px;
    }
    .ingredient-quantity {
        flex: 4;
        text-align: right;
        padding-right: 300px;
        min-width: 400px;
        color: rgb(124, 167, 238);
    }

    /* 'Clear All' button spacing and size */
    #clear-btn {
        display: none; /* hidden by default */
        padding: 8px 50px;
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    #clear-btn:hover {
        background-color: rgba(83, 122, 143, 0.5);
        transition: 0.3s ease-in-out;
    }
</style>
