<!-- Shortcode for the Recipe Book of Physiological Solutions -->

<!-- Access the JSON ('./data/RecipeBook.json') -->
<script>
    const recipeBook = {{ $.Site.Data.RecipeBook }};
</script>
<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/recipe_selector.js" | urlize | relURL }}'>
</script>

<!-- Recipe Selector and Final Volume fields as drop-down menus -->
<div id="controls">
    <div>
        <label for="recipe-select">Solution:</label>
        <select id="recipe-select">
            <option value="">-- Choose a Solution --</option>
        </select>
    </div>
    <div>
        <label for="volume-select">Final Volume:</label>
        <select id="volume-select">
            <option value="100">100 mL</option>
            <option value="250">250 mL</option>
            <option value="500" selected>500 mL</option>
            <option value="1000">1 L</option>
        </select>
    </div>
</div>
<!-- Recipe description and ingredient list -->
<div id="recipe-description"></div>
<div id="recipe-list"></div>
<!-- Clear All button -->
<button id="clear-btn">Clear All</button>
