<!--
Shortcode for the Molecular Weight Viewer
called from page "Recipe Book of Physiological Solutions"
-->

<!-- Access the JSON ('./data/RecipeBook.json') -->
<script>
    const recipeBook = {{ $.Site.Data.RecipeBook }};
</script>
<!-- Import the JS script -->
<script defer
        language="javascript"
        type="text/javascript"
        src='{{ "js/show-mw.js" | urlize | relURL }}'>
</script>

<table id="molecular-weight-table">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>MW<br>(g/mol)</th>
            <th><i>n</i><br>(Osm/mol)</th>
            <th><i>φ</i></th>
            <th>Full name</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be inserted here by JavaScript -->
    </tbody>
</table>
