<!-- Shortcode for the Toro-Juve Soccer Markov Chain -->

<!-- Import the script (variables and functions) and dependencies -->
<script defer
		language="javascript"
		type="text/javascript"
		src='{{ "js/funxov.js" | urlize | relURL }}'>
</script>
<script defer
		language="javascript"
		type="text/javascript"
		src='{{ "js/soccer_markov_chain.js" | urlize | relURL }}'>
</script>

<!-- Pre-formatted text box whose content is triggered by the button -->
<button onclick="generateAndDisplay('result')">
	Generate New Chain
</button>
<pre id="result"></pre>
